%nav.navbar.navbar-expand-md.navbar-light.border-bottom.shadow-sm.p-2.mb-5.roundeds.fixed-top
  .navbar_inner
    = link_to root_path, class: "navbar-brand" do
      = image_tag '/Logo.png', height:"47px",width:"auto"
    .header_menu_box
      %button.navbar-toggler{type: "button", data:  {target:  "#navbarSupportedContent", toggle: "collapse"}, aria: { controls: "navbarSupportedContent", expanded: "false" , label: "Toggle navigation"} }
        %span.navbar-toggler-icon
      - if user_signed_in?
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-md-auto
            %li.nav-item.searchbox
              = form_with url:search_posts_path ,method:"get", local:true, class:"searchform" do |f|
                = f.text_field :keyword, placeholder: "Search", class: "search-box-input"
                = fa_icon "search",class:"search-icon fa-2x;"
                = f.submit "Search", class:"btn btn-outline-success my-2 my-sm-0", style:"display:none;"
                .searchbox__resultbox
                  %ul.searchbox__resultbox__inner
                    %li.searchbox__resultbox__inner__item
                      sample
            %li.nav-item.dropdown.active
              = link_to "", {class:"nav-link mr-5", id:"navbar", aria:{expanded: false}, aria:{haspopup: true},data: {toggle: "dropdown"}, role: "button" } do
                =fa_icon "plus-square-o" ,class: "menu-bar-icon fa-2x"
              .dropdown-menu{aria: { labelledby: "navbarDropdown"}}
                -# %h6.dropdown-header New Create
                -# .dropdown-divider
                = link_to new_post_path, class:"dropdown-item" do
                  =fa_icon "image",class:"menu-bar-icon fa-lg mr-1"
                  %span.nav-item.active Posts
            %li.nav-item.active
              = link_to user_path(current_user), class: "nav-link mr-5" do
                =fa_icon "user-o" ,class: "menu-bar-icon fa-2x"
                %span.sr-only (current)
            %li.nav-item.active
              = link_to destroy_user_session_path,  {method: "delete",  class: "nav-link mr-3" ,role: "button"} do
                =fa_icon "sign-out" ,class: "menu-bar-icon fa-2x "
      - else
        %ul.navbar-nav.ml-md-auto
          %li.nav-item.active
            = link_to destroy_user_session_path,  {method: "delete",  class: "nav-link mr-3" ,role: "button"} do
              =fa_icon "user-plus" ,class: "menu-bar-icon fa-2x "
          %li.nav-item.active
            = link_to destroy_user_session_path,  {method: "delete",  class: "nav-link mr-3" ,role: "button"} do
              =fa_icon "sign-in" ,class: "menu-bar-icon fa-2x "