= render "devise/shared/nav"
.spacing
.userform
  .userform_inner
    %p.project-title Share Your Moments
    %h5.page-target Edit Account (Avatar Image)
    = form_for(current_user) do |f|
      .field.new-avatar-field
        = f.label :avatar
        %br/
        .avatar_box.for_edit
          .avatar_box_inner{style: "height:0px;"}
        = f.file_field :avatar, class: "new-avatar"
      .actions
        = f.submit "Update",class:"submit btn btn-outline-primary"
    %span
      Not need to exchange?
    = link_to "Go Back",:back , class: "back"