= render "devise/shared/nav"
.user_page
  .user_page__inner
    .user_page__inner__show-profile
      .user_page__inner__show-profile__wrapper
        - if @user.avatar.attached?
          .user_page__inner__show-profile__wrapper__avatar-box
            .user_page__inner__show-profile__wrapper__avatar-box__inner
              = image_tag @user.avatar ,class:"avatar_image" 
        - else
          .avatar_box
            .avatar_box_inner__non-avatar
              =fa_icon "user-circle",class:"fa-5x non-avatar"
        .user_page__inner__show-profile__wrapper__right-box
          .user_page__inner__show-profile__wrapper__right-box__profile
            .user_page__inner__show-profile__wrapper__right-box__profile__name_box
              = @user.name
            - if current_user == @user
              .user_page__inner__show-profile__wrapper__right-box__profile__edit_box
                = link_to "Edit Profile", edit_user_path(current_user), class: "edit-btn btn btn-outline-secondary"
            - else  
              .user_page__inner__show-profile__wrapper__right-box__profile__follow_box
                = render partial:"relationships/follow_button", locals: { user: @user}
          .user_page__inner__show-profile__wrapper__right-box__status
            .user_page__inner__show-profile__wrapper__right-box__status__articles
              #{@user.posts.count} posts
            .user_page__inner__show-profile__wrapper__right-box__status__followers
              #{@user.followers.count} followers
            .user_page__inner__show-profile__wrapper__right-box__status__following
              #{@user.followings.count} following
  .user_post-main__inner
    .user_post-main__inner__container
      .user_post-main__inner__container__list
        .btn-group{class:"switch_usermenu", role:"group" ,aria:{label: "Basic example"}}
          - if @user == current_user
            =button_tag "", class: "btn btn-secondary user-posts-btn"  do
              Posts
            =button_tag "", class: "btn btn-outline-secondary user-favorites-btn"  do
              Favorite
            =button_tag "", class: "btn btn-outline-secondary user-followers-btn"  do
              Follower
            =button_tag "", class: "btn btn-outline-secondary user-followings-btn"  do
              Following
          - else
            %p.user_postslist
              Posts
        .user-post-main__inner__container__list__posts 
          %ul.post-main__inner__container__list__wrapper
            - @user.posts.order("created_at DESC").each do | post |
              =render partial: "posts/post", locals:{ post: post}
        - if @user == current_user
          .user-post-main__inner__container__list__favorites
            %ul.post-main__inner__container__list__wrapper
              - @Post_favorites .each do | post |
                =render partial: "posts/post", locals:{ post: post}
          .user-post-main__inner__container__list__followers
            .user-post-main__inner__container__list__followers__member_box
              = render partial: 'follower', collection: @followers
          .user-post-main__inner__container__list__followings
            .user-post-main__inner__container__list__followings__member_box
              = render partial: 'following', collection: @followings
              