%li.post-main__inner__container__list__wrapper__article-box
  = link_to post_path(post), class: "post-main__inner__container__list__wrapper__article-box__link" do
    .post-main__inner__container__list__wrapper__article-box__link__inbox
      = image_tag post.image.thumb.url, class: "post-main__inner__container__list__wrapper__article-box__link__inbox__img filter-#{post.image_option}"
      .mask
        .caption
          - if post.likes.find_by(user_id:current_user.id)
            =fa_icon "heart",class:"fa-lg"
          - else
            =fa_icon "heart-o",class:"fa-lg"
          = post.likes.count
          &nbsp
          - if post.comments.find_by(user_id:current_user.id)
            =fa_icon "comment",class:"fa-lg"
          - else 
            =fa_icon "comment-o",class:"fa-lg"
          = post.comments.count
          &nbsp
          - if post.favorites.find_by(user_id:current_user.id)
            =fa_icon "star",class:"icon-favo fa-lg"