= render "devise/shared/nav"
.spacing
.contents.row
  .container
    %h5
      Confirm a new Airticle
    = form_with model:@post ,local:true  do |f|
      - if @post.errors.any?
        .post-form__errors
          %h2= "Error has occurred. total: #{@post.errors.full_messages.count}"
          %ul
            - @post.errors.full_messages.each do |message|
              %li= message
      .field.newpost
        = image_tag @post.image.url
        = f.hidden_field :image, class: "new-image", required: true, value: @post.image
        = f.hidden_field :image_cache, value: @post.image_cache
      .field.newpost
        %p
          = @post.title
        = f.hidden_field :title, value: @post.title
      .field.newpost
        %p
          = @post.content
        = f.hidden_field :content, value: @post.content
      .actions
        = f.submit "Post", class:"submit btn"
    = form_with model:@post ,local:true , method:"GET", url:new_post_path do |f|
      = f.hidden_field :image, class: "new-image", required: true, value: @post.image.file.file
      = f.hidden_field :image_cache, value: @post.image_cache
      = f.hidden_field :title, value: @post.title
      = f.hidden_field :content, value: @post.content
      .actions
        = f.submit "Back", class:"submit btn", name:"back"