= render "devise/shared/nav"
.spacing
.contents.row
  .container
    %h5
      Create a new Airticle
    = form_with model: @post , local:true ,url:new_step3_posts_path  do |f|
      -# = form_with model: Post.new , local:true do |f|
      -# .field.newpost
        -# = session[:title]
        -# = f.label :title
        -# %br/
        -# = f.text_field :title, autofocus: true, placeholder: "Title", required: true, class: "post__title"
        -# = f.hidden_field :title, value: @post.title
      -# .field.newpost
      -#   = f.label :content
        -# %br/
        -# = session[:content]
        -# @post.content
        -# = f.text_area :content, autofocus: true, placeholder: "content", required: true, class: "post__content"
        -#-#= f.hidden_field :content, value: @post.content
      -# .field.newpost
        = f.label :image
        %br/
        = image_tag @post.image.url
        = image_tag session[:image][:url]
        = f.file_field :image, class: "new-image"
        -# = f.hidden_field :image, value: @post.image
        = f.hidden_field :image_cache, value: @post.image_cache
        = f.hidden_field :image_cache
      .actions
        = f.submit "New Post", class:"submit btn"
